body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

/* REVIEW THE SECTION BELOW */

.TokyoSkyline, .Shrine, .Sushi{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
		fixed = parallaxed
		scroll = normal
	*/

	background-attachment: fixed;
}

.TokyoSkyline{
	background-image: url(Images/TokyoSkyline.jpg);
	min-height: 100%;
}

.Shrine{
	background-image: url(Images/shrine.jpg);
	min-height: 400px;
}

.Sushi{
	background-image: url(Images/Sushi.jpg);
	min-height: 400px;
}

section{
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color: #666;
}

.section-dark{
	background-color: #282e34;
	color: #ddd;
}

.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
	word-break: break-word;
}

.ptext .border{
	background-color: #111;
	color: #fff;
	padding: 20px;
}

/*
.ptext .border.trans{
	background-color: transparent;
} */

@media(max-width: 568px){
	.TokyoSkyline, .Shrine, .Sushi{
		background-attachment: scroll;
	}
}
